In [6]:
 # Import dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [7]:
# Store filepath in a variable and the data into a Pandas DataFrame
csv_path = Path("../archive (1)/user_behavior_dataset.csv")
user_behavior_df = pd.read_csv(csv_path)
user_behavior_df.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3

In [8]:
user_behavior_df.describe

<bound method NDFrame.describe of      User ID        Device Model Operating System  App Usage Time (min/day)  \
0          1      Google Pixel 5          Android                       393
1          2           OnePlus 9          Android                       268
2          3        Xiaomi Mi 11          Android                       154
3          4      Google Pixel 5          Android                       239
4          5           iPhone 12              iOS                       187
..       ...                 ...              ...                       ...
695      696           iPhone 12              iOS                        92
696      697        Xiaomi Mi 11          Android                       316
697      698      Google Pixel 5          Android                        99
698      699  Samsung Galaxy S21          Android                        62
699      700           OnePlus 9          Android                       212

     Screen On Time (hours/day)  Battery Drain (mAh/day)  \
0                           6.4                     1872
1                           4.7                     1331
2                           4.0                      761
3                           4.8                     1676
4                           4.3                     1367
..                          ...                      ...
695                         3.9                     1082
696                         6.8                     1965
697                         3.1                      942
698                         1.7                      431
699                         5.4                     1306

     Number of Apps Installed  Data Usage (MB/day)  Age  Gender  \
0                          67                 1122   40    Male
1                          42                  944   47  Female
2                          32                  322   42    Male
3                          56                  871   20    Male
4                          58                  988   31  Female
..                        ...                  ...  ...     ...
695                        26                  381   22    Male
696                        68                 1201   59    Male
697                        22                  457   50  Female
698                        13                  224   44    Male
699                        49                  828   23  Female

     User Behavior Class
0                      4
1                      3
2                      2
3                      3
4                      3
..                   ...
695                    2
696                    4
697                    2
698                    1
699                    3

[700 rows x 11 columns]>

In [9]:
user_behavior_df.columns

Index(['User ID', 'Device Model', 'Operating System',
       'App Usage Time (min/day)', 'Screen On Time (hours/day)',
       'Battery Drain (mAh/day)', 'Number of Apps Installed',
       'Data Usage (MB/day)', 'Age', 'Gender', 'User Behavior Class'],
      dtype='object')

In [10]:
# Identify incomplete rows
user_behavior_df.count()

User ID                       700
Device Model                  700
Operating System              700
App Usage Time (min/day)      700
Screen On Time (hours/day)    700
Battery Drain (mAh/day)       700
Number of Apps Installed      700
Data Usage (MB/day)           700
Age                           700
Gender                        700
User Behavior Class           700
dtype: int64

In [11]:
# Age Min and Max
 # Calculate the earliest/latest year a book was published
youngest = user_behavior_df["Age"].min()
oldest = user_behavior_df["Age"].max()

# Print the earliest and latest year of publication.
print(youngest)
print(oldest)

18
59

In [12]:
# Create the bins in which Data will be held
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
bins = [18, 28, 38, 48, 59]

# Create the names for the five bins
group_names = ["Young Adults", "Late 20- 30's", "Late 30-40's", "Late 40-50's"]

In [13]:
# Filter to only buildings with infested units greater than 0
# new DF for column
user_behavior_df["cell_phone_age_cohort"]=pd.cut(user_behavior_df["Age"],bins, labels=group_names)
user_behavior_df.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class,cell_phone_age_cohort
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4,Late 30-40's
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3,Late 30-40's
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2,Late 30-40's
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3,Young Adults
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3,Late 20- 30's

In [14]:
# Average User Behavior Class by age
cell_age_usage_group = user_behavior_df.groupby("cell_phone_age_cohort")
new_df=cell_age_usage_group[["App Usage Time (min/day)", "Screen On Time (hours/day)","Battery Drain (mAh/day)", "Number of Apps Installed", "Data Usage (MB/day)" ]].mean()
new_df.head()

C:\Users\shaed\AppData\Local\Temp\ipykernel_13808\611412877.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  cell_age_usage_group = user_behavior_df.groupby("cell_phone_age_cohort")

,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day)
cell_phone_age_cohort,,,,,
Young Adults,275.842105,5.278947,1553.438596,51.994152,936.994152
Late 20- 30's,264.364706,5.134118,1485.247059,48.770588,918.835294
Late 30-40's,265.038217,5.213376,1483.961783,49.305732,899.719745
Late 40-50's,278.329843,5.426702,1561.989529,52.272251,953.680628

In [15]:
# Sum of  User Behavior Class by age
columns_to_scale = ['App Usage Time (min/day)']
new_df[columns_to_scale] = new_df[columns_to_scale] 
new_df.applymap(lambda x: f"{x / 100:.02%}").head()

C:\Users\shaed\AppData\Local\Temp\ipykernel_13808\320861935.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  new_df.applymap(lambda x: f"{x / 100:.02%}").head()

,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day)
cell_phone_age_cohort,,,,,
Young Adults,275.84%,5.28%,1553.44%,51.99%,936.99%
Late 20- 30's,264.36%,5.13%,1485.25%,48.77%,918.84%
Late 30-40's,265.04%,5.21%,1483.96%,49.31%,899.72%
Late 40-50's,278.33%,5.43%,1561.99%,52.27%,953.68%

In [18]:
# Average User Behavior Class by age
device_usage_group = user_behavior_df.groupby("Device Model")
device_model_df=device_usage_group[["App Usage Time (min/day)", "Screen On Time (hours/day)","Battery Drain (mAh/day)", "Number of Apps Installed", "Data Usage (MB/day)" ]].mean()
device_model_df.head()

,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day)
Device Model,,,,,
Google Pixel 5,267.788732,5.076056,1475.676056,49.908451,897.704225
OnePlus 9,270.383459,5.241353,1523.849624,49.969925,911.120301
Samsung Galaxy S21,266.421053,5.318045,1504.571429,50.804511,931.872180
Xiaomi Mi 11,268.452055,5.293151,1528.876712,49.924658,940.164384
iPhone 12,282.020548,5.430822,1589.513699,52.726027,965.506849